[submodule "commits"]
	path = commits
	url = https://github.com/SandStormHoldings/ScratchDocs
[submodule "orgile"]
	path = orgile
	url = https://github.com/mashdot/orgile
[submodule "noodles"]
	path = noodles
	url = https://github.com/SandStormHoldings/NoodlesFramework
