<%inherit file="/base.html" />
<%def name="content()">
<h2>Participants</h2>
<table class="table table-striped table-bordered table-hover">
<thead>
  <tr>
    <th>Name</th>
    <th>Tasks</th>
    <th>E-Mail</th>
    <th>Skype</th>
  </tr>
</thead>
<tbody>
<% cnt =0 %>
% for p,dt in pts.items():
<tr>
    <td>${p}</td>
    <td>
        <ul class="nav nav-pills" style="margin-bottom: 0px;">
            <li><a href="${upr}/assignments/${p}">assigned</a></li>
            <li><a href="${upr}/created/${p}">created</a></li>
	    <li><a href="${upr}/informed/${p}">informed</a></li>
	    <li><a href="${upr}/handled_by/${p}">handled by</a></li>
            <li><a href="${upr}/journal/filter/creator/${p}">journal entries</a></li>
            <li><a href="${upr}/q/assignee/${p}">merge queue</a></li>
            <li><a href="${upr}/pl/assignee/${p}">planning queue</a></li>
            <li><a href="${upr}/feed/${p}/fs">actions feed</a></li>
      </ul>
    </td>
    <td><a href="mailto:${dt['email']}">${dt['email']}</a></td>
    <td>
    % if dt.get('skype'):
        % if '[' in dt.get('skype'):
        <a href="${dt['skype'].split('][')[0].strip('[]')}">${dt['skype'].split('][')[1].strip('[]')}</a>
        % else:
        <a href="skype:${dt['skype']}">${dt['skype']}</a>
        % endif
    % endif
    </td>
</tr>
<% cnt+=1 %>
% endfor
</tbody>
</table>
</%def>
