<%inherit file="/base.html" />
<%def name="content()">

<div class="row">

  <div class="span4">
    <form id='pri_form' method='get' action='${upr}/pri'>
      <input type='button' class='pri_filter_toggle' id='toggle-all' value='Toggle all' /><br />
      % for fn in fields:
      <h4>${fn} <input type='button' class='pri_filter_toggle' id='toggle-${fn}' value="toggle" /><br /></h4>
      
      % for st,cnt in sorted(values[fn]['avail'].items(),key=lambda x:x[1],reverse=True):
##      <% if fn=='assignees': raise Exception(values[fn]['set']) %>
      <label><input class='pri_filter' type='checkbox' name="${fn}-${st}" value="1" ${(st is None and 'None' or st) in values[fn]['set'] and " checked" or ""} />${st} - ${cnt}</label>
      % endfor
      
      % endfor
    </form>
  </div>

  <div class="span8">
    <h5>displaying ${tasks_cnt} tasks, handled by ${len(handlers)}, assigned to ${len(assignees)} and having ${len(statuses)} different statuses.</h5>
    <small>* tasks that have recently <span class="tracked">been tracked on</span> or <span class='commits'>have commits</span>.</small>
    <table>
      <thead>
	<tr>
	  <th>assignee</th>
	</tr>
      </thead>
      <% items = sorted(orders.items(),key=lambda x:assignee_pri[x[0]],reverse=True) %>
    % for a,lst in items:
    <tr>
      <td><a href="${upr}/assignments/${a}">${a}</a> (<span title="priorities sum">${assignee_pri[a]}</span>)</td>
      % for l in lst:
      <td class="${l['tracked'] is None and 'untracked' or (l['tracked']>=fresh and 'tracked-fresh' or 'tracked')} \
		 ${l['last_commit'] is None and 'nocommits' or (l['last_commit']>=fresh and 'commits-fresh' or 'commits')}">
	<a title="${l['summary']}" href="${upr}/${l['id']}" target='_blank'>${l['id']}</a>
	<span title="priority">(${l['comb_pri']})</span>
	<span class="${l['st'] in doingstates and 'doing blue' or (l['st'] in donestates and 'done strikethrough' or 'notdoing')}">${l['st']}</span>, \
	<span class="${l['crat']<recent and 'old' or 'recent bold'}">${humanize.naturaltime(l['crat'])}</span>\
	% if l['hby']:
	h.by ${l['hby']}
	% endif

      </td>
      % endfor
      </tr>
    % endfor
    </table>
  </div>

</div>

<script type='text/javascript'>
  $(function() {
  $('.pri_filter_toggle').on('click',function(ev) {
  var t = ev.target;
  var tog = t.id.split("-")[1];
  console.log('toggling');
  $('.pri_filter').each(function() {
  if (tog=='all') this.checked = !this.checked;
  else if (this.name.startsWith(tog)) this.checked = !this.checked;

  });
  $('#pri_form').submit();
  });
  $('.pri_filter').change(function() { $('#pri_form').submit(); });
  });
  </script>
</%def>
